#content {
    margin-top: 20px;
    margin-bottom: 60px;
}

a:hover {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 10px;
    clear: both;
    text-align: center;
}

#url-result {
    color: #000000;
    display: block;
    text-align: center;
}

a.ulink {
    text-decoration: underline;
    font-size: 16px;
}

.mt-10 {
    margin-top: 10px;
}

.p16 {
    padding: 16px;
}

.customcolor {
    background-color: oldlace;
}