{% extends "base.html" %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block content %}

    <div class="panel panel-default p16">
        <div class="panel-body">

            <div class="form-group">
                <label>Long URL</label>
                <textarea required="required" cols="20" rows="3" name="url" id="url" class="form-control input-sm" placeholder="https://www.fabric.io/"></textarea>
            </div>
            <div class="form-group">
                <label>Expired on (Optional)</label>
                <div>
                    <input type="date" name="expire_on" id="expire_on" class="form-control input-sm" placeholder="4">
                </div>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="is_private">This Url is private</label>
            </div>
            <div class="form-group">
                <label>Custom url (Optional)</label>
                <div>
                    <span>{{ request.get_host }} / <input name="custom_key" id="custom_key" type="text" maxlength="10"></span>
                </div>

            </div>
            <div class="form-group text-center">
                {% csrf_token %}
                <button id="submitButton" class="btn-lg btn-primary align-center">Generate link</button>
            </div>
        </div>
        <div class="panel-footer mt-10" id="shortlink"><span id="url-result">Enter the URL above and click Generate link</span></div>
    </div>
{% endblock %}